/*
	Name: Ship
	Description: Responsive Coming Soon Page
	Version: 1.0
	Author: EJ Frias
	This template and more are available to purchase on Themeforest.net
	http://themeforest.net/user/EjFrias
*/

html {
	box-sizing: border-box;
    color: #444;
    font-size: 1em;
    line-height: 1.4;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

::-moz-selection {
    background: #b0d0ec;
    text-shadow: none;
}

::selection {
    background: #b0d0ec;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 15px/150% 'Source sans pro', Helvetica, Helvetica Neue, Arial;
	-webkit-font-smoothing: antialiased;
}

.full-width { width: 100%; }

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   General
   ========================================================================== */
 h1, h2, h3, h4, h5 {
	font-weight: normal;
	margin: 0;
}

a {
	color: #428bca;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

.backstretch:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background-image: url('../images/overlay.png');
	background-repeat: repeat;
	background-color: rgba(95,96,97, .4);
	z-index: 100;
}

.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid.png);
}

.shadow {
	text-shadow: rgb(60, 121, 186) 1px 1px, 
				 rgb(60, 121, 186) 2px 2px, 
				 rgb(60, 121, 186) 3px 3px, 
				 rgb(60, 121, 186) 4px 4px, 
				 rgb(60, 121, 186) 5px 5px, 
				 rgb(60, 121, 186) 6px 6px, 
				 rgb(60, 121, 186) 7px 7px, 
				 rgb(60, 121, 186) 8px 8px, 
				 rgb(60, 121, 186) 9px 9px, 
				 rgb(60, 121, 186) 10px 10px, 
				 rgb(60, 121, 186) 11px 11px, 
				 rgb(60, 121, 186) 12px 12px, 
				 rgb(60, 122, 187) 13px 13px, 
				 rgb(60, 123, 188) 14px 14px, 
				 rgb(61, 124, 189) 15px 15px, 
				 rgb(61, 125, 190) 16px 16px, 
				 rgb(61, 126, 191) 17px 17px, 
				 rgb(62, 127, 192) 18px 18px, 
				 rgb(62, 128, 193) 19px 19px, 
				 rgb(62, 129, 194) 20px 20px, 
				 rgb(63, 130, 195) 21px 21px, 
				 rgb(63, 131, 196) 22px 22px, 
				 rgb(63, 132, 197) 23px 23px, 
				 rgb(64, 133, 198) 24px 24px, 
				 rgb(64, 134, 197) 25px 25px, 
				 rgb(64, 135, 198) 26px 26px, 
				 rgb(65, 136, 199) 27px 27px, 
				 rgb(65, 137, 200) 28px 28px, 
				 rgb(65, 138, 201) 29px 29px, 
				 rgb(66, 139, 202) 30px 30px;
}

/* === Welcome === */
.welcome {
	color: #fafafa;
	display: block;
	height: 100%;
	max-width: 100%;
	padding-bottom: 1100px;
	position: relative;
	text-align: center;
	width: 100%;
}
.welcome-content {
	display: inline-block;
	position: relative;
	top: 80px;
}

#logo {
	color: rgba(255,255,255, .96);
}
#logo i {
	font-size: 80px;
	border: 2px solid;
	padding: 30px 26px;
	border-radius: 50%;
}

.welcome h1 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 50px 0 30px;
	text-transform: uppercase;
}

.welcome p {
	padding: 1em;
}

.welcome .arrow {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	position: absolute;
	bottom: 0%;
	left: 50%;
	animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-webkit-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-moz-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
	-o-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
}

.arrow i.fa {
	font-size: 9px;
	cursor: pointer;
}

.arrow a {
	border: 2px solid;
	border-radius: 10px;  
	color: #fafafa;
	display: inline-block;
	height: 32px;
	line-height: 42px;
	position: relative;
	padding-left:1px;
	bottom: 20px;
	width: 22px;
}

@-webkit-keyframes wobbleArrow
{
	0% { bottom: 40px; }
	100% { bottom: 50px; }
}

/* === COUNTDOWN === */
.countdown {
	display: inline-block;
	font-size: 4.6em;
	font-weight: 300;
	line-height: 65px;
	margin: 40px auto 0;
}
.countdown div span {
	display: block;
    font-size: 14px;
    line-height: 19px;
}
.countdown div {
	display: inline-block;
    margin: 0 34px;
}

/* === SERVICES === */
.services {
}
.services-box {
	padding: 7em 0 3em;
}
.services-box li {
	margin-bottom: 4em;
	text-align: center;
	width: 100%;
}
.services-box .icon {
	background: #428bca;
	color: #fafafa;
	font-size: 3.5em;
	height: 175px;
	line-height: 175px;
	max-width: 100%;
	margin: 0 auto .8em;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 175px;
	
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.services-box h5 {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
.services-box h5:after {
	content: " ";
	border: 2px solid #428bca;
	display: block;
	width: 35px;
	margin: 25px auto;
}
.services-box p {
	font-size: .9em;
	padding: 1em;
}

/* === SHOWCASE === */
.showcase {
	background: url('../images/showcasebg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.showcase-content {
	color: #fafafa;
    min-height: 600px;
    padding: 100px 0;
    position: relative;
}
.showcase-content .col {
	position: relative;
}
.showcase-content h2 {
	margin-bottom: .5em;
}
.showcase-content p {
	color: #ddd;
	font-size: .9em;
	padding: 1em 0;
}
.device-content {
    background: rgba(0, 0, 0, 0.3);
    height: 445px;
	margin: 0 auto 40px;
    width: 247px;
}
.device-content img {
    height: 445px;
    width: 247px;
}
.showcase-wrap {
    min-height: 600px;
    padding: 100px 0;
    position: relative;
}
.showcase-slider .flickity-page-dots {
    bottom: 20px;
}
.showcase-slider .flickity-page-dots .dot {
	background: #fff;
}
.download-btn {
    color: #fafafa;
    border: 2px solid;
	display: inline-block;
    font-size: 16px;
    padding: 18px 46px;
	text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.download-btn:hover, .download-btn:focus {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none;
}

/* === CONTACT === */
.contact {
	padding: 5em 0;
}
.contact h2 {
	text-align: center;
	margin-bottom: 2em;
}
.contact ul {
	list-style: none;
	line-height: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0px;
	position: relative;
	text-align: left;
}
.contact ul li {
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 0px;
	padding-left: 48px;
}
.contact ul li .fa {
	color: #428bca;
	margin-left: -48px;
	margin-right: 25px;
}
.contact ul li a { color: #444; }

.contact input[type='text'], .contact input[type='email'] {
	border: 2px solid #ccc;
	background: transparent;
	height: 50px;
	outline: none;
	padding: 15px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 0;
	-webkit-appearance: none;
}

.contact input[type='text']:focus, .contact input[type='email']:focus, .contact textarea:focus {
	border: 2px solid #bbb;
}

.contact .message-box {
	background-color: transparent;
	border: 2px solid #ccc;
	margin-bottom: 20px;
	max-width: 100%;
	min-height: 120px;
	outline: none;
	padding: 15px;
	resize: vertical;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;
}

.contact input[type='submit'] {
	background-color: #428bca;
	border: 0;
	color: #fafafa;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: 50px;
	outline: none;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	border-radius: 0;
	-webkit-appearance: none;
}
.contact input[type='submit']:active {
	background-color: #367ab4;
}

/* === SUBSCRIBE === */
.subscribe {
	background: url('../images/keyboardbg.jpg') no-repeat center center fixed;
    background-size: cover;
	color: #fafafa;
	padding: 5em 0 7em;
}
.subscribe h1 {
	text-align: center;
	margin-bottom: 1.4em;
}
.subscribe h1 span {
	display: block;
	font-size: .65em;
	margin: .5em 0;
}
.subscribe form {
	text-align: center;
}
.subscribe .email {
	background-color: rgba(255, 255, 255, .1);
	border: solid 1px rgba(255, 255, 255, .17);
	color: #fafafa;
	height: 55px;
	margin-bottom: 20px;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	width: 90%;
	border-radius: 0;
	-webkit-appearance: none;
}
.subscribe .signup-button {
	background-color: rgba(66, 139, 202, .52);
	color: #ccc;
	cursor: pointer;
	border: none;
	height: 55px;
	border: none;
	outline: none;
	position: relative;
	top: -2px;
	width: 114px;
	z-index: 100;
	border-radius: 0;
	-webkit-appearance: none;
}
.subscribe .signup-button:hover {
	background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .21);
	color: #fafafa;
}

/* === FOOTER === */
.footer {
	position: relative;
	padding: 4em 0 2em;
}
.footer .jumper {
	background-color: rgba(66, 139, 202, .8);
	color: #fafafa;
	height: 50px;
	line-height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	text-decoration: none;
	width: 50px;
	-wekit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.footer .jumper:hover {
	background-color: rgba(66, 139, 202, 1);
}
.footer .col {
	margin-bottom: 20px;
	text-align: center;
}
.footer p, .footer .wrapper li a .fa {
	padding: 1em;
	color: #999;
}
.footer .wrapper li .fa-facebook:hover { color: #3b5998; }
.footer .wrapper li .fa-twitter:hover { color: #00aced; }
.footer .wrapper li .fa-instagram:hover { color: #517fa4; }
.footer .wrapper li .fa-dribbble:hover { color: #ea4c89; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
	.welcome {
		padding-bottom: 0;
	}
	.showcase-content .col, .contact .col, .footer .col {
		float: left;
		width: 50%;	
	}
	.services-box li {
		width: 33.33%;
	}
	.subscribe .email {
		width: 445px;
	}
	.contact {
		font-size: .9em;
		padding: 14em 0;
	}
	.footer {
		padding: 4em 0 7em;
	}
	.footer .col {
		text-align: left;
	}
	.footer .col ul {
		text-align: right;
	}
}

@media only screen and (min-width: 1140px) {
	.wrapper {
        width: 1140px;
        margin: 0 auto;
    }
	.device {
		background: url('../images/iphone-skeleton.png') no-repeat center center;
		min-height: 676px;
		position: relative;
		top: -60px;
		left: 20%;
		width: 359px;
	}
	.device-content {
		background: rgba(0, 0, 0, 0.3);
		height: 445px;
		margin: 0;
		position: absolute;
		top: 115px;
		left: 56px;
		width: 247px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.inline-block, .inline-block li {
	*display: inline;
	display: inline-block;
	_display: inline;
	zoom: 1;
}

/** Text Colours **/
.aqua { color: #00b1c1; }
.blue { color: #006690; }
.dark-grey { color: #444; }
.grey { color: #666; }
.light-blue { color: #2874f5; }
.light-grey { color: #999; }
.lime { color: #a3d869; }
.olive { color: #6c953c; }
.orange { color: #f57528; }
.purple { color: #95519e; }
.red { color: #d9534f; }

/** Helpers **/
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.bold { font-weight: bold; }
.capitalize { text-transform: capitalize; }
.justify { text-align: justify; }
.italic { font-style: italic; }
.large { font-size: 16px; }
.larger { font-size: 18px; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }
.small { font-size: 12px; }
.smaller { font-size: 11px; }
.smallest { font-size: 10px; }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}